<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Dog Save the Queen - Best Dog grooming in Brussels - Dog Save the Queen provides a professional grooming service tailored to yours and your pets requirement">
        <meta name="author" content="Marco Todaro">

        <title>{% block title %}Dog Save the Queen - Best Dog grooming in Brussels{% endblock %}</title>


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
           
            <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">

            <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
             <link rel="stylesheet" href="{{ asset('css/freelancer.css') }}">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>
    {% block nav %}

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('app_dog_index') }}">Dog Save The Queen</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
              
                     
                        {% if  is_granted('IS_AUTHENTICATED_FULLY') %}

                                          <li class="page-scroll" >
                          <a href="/profile"><div class='imgProfileMenu' style="background-image:url('{{asset('images/profiles/' ~ app.user.imageName)}}')" >
            </div></a>
                         </li>

                         <li class="page-scroll">
                            <a href="{{ path('fos_user_security_logout') }}" ><button type="submit" class="btn btn-success" >Logout</button></a>
                        </li>

                        {% else %}

                          <li class="page-scroll">
                            <a href="{{ path('fos_user_security_login') }}" ><button type="submit" class="btn btn-success" >Sign in</button></a>
                        </li>
                        <li class="page-scroll">
                            <a href="{{ path('fos_user_registration_register') }}"  ><button type="submit" class="btn btn-success"  >Sign Up</button></a>
                        </li>


                        {% endif %}
                        
                      
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>


    {% endblock %}
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div role="alert" class="alert alert-warning {{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

         {% block footer %}
            <!-- Footer -->
            <footer class="text-center">
                <div class="footer-above">
                    <div class="container">
                        <div class="row">
                            <div class="footer-col col-md-4">
                                <h3>Location</h3>
                                <p> Dog Save the Queen <br> Rue de l'Aqueduc 53, <br>1060 Bruxelles</p>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>Around the Web</h3>
                                <ul class="list-inline">
                                    <li>
                                        <a href="https://www.facebook.com/Dog-Save-the-Queen-109941635832415/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-col col-md-4">
                                <h3>About</h3>
                                <p>Elisabetta Cibotto is the owner and a professional dog groomer based in Brussels.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-below">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                Copyright &copy; Taste My Web 2016
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock %}


        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('js/jquery.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

            <!-- Plugin JavaScript -->
            <script src="{{ asset('http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') }}"></script>
            <script src="{{ asset('js/classie.js') }}"></script>
            <script src="{{ asset('js/cbpAnimatedHeader.js') }}"></script>

            <!-- Contact Form JavaScript -->
            <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>
            <script src="{{ asset('js/contact_me.js') }}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{ asset('js/freelancer.js') }}"></script>
        {% endblock %}
    </body>
</html>
