{% extends 'base.html.twig' %}

{% block nav %}

{{ parent() }}

{% endblock %}
{% block body %}

<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <img class="img-responsive" src="{{ asset('img/logoDogSaveTheQueen.png') }}" alt="Dog Save The Queen Logo">

        <div class="intro-text">
          <span class="name">Get a Bath!</span>
          <div class="row" >
            <div class="col-lg-12">
              <img  class="img-responsive" src="{{ asset('img/bones.png') }}">
            </div>
          </div>
          <span class="skills">Breed based services - Professional tools <br> We love dogs</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Services Grid Section -->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2><br>


        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <img src="{{ asset('img/img1.jpg') }}" alt="Hair Cutting" class="img-circle" >
              <div class="caption">
                <h3>Hair removal</h3>
                <p>The coats of many breeds require trimming, cutting... </p>
                <p> <button class="btn btn-primary" role="button" data-toggle="modal" data-target="#ModalServices">Read More</button></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <img src="{{ asset('img/img2.jpg') }}" alt="Groming plan" class="img-circle" >
              <div class="caption">
                <h3>Grooming Plan</h3>
                <p>Total grooming programme. Get the look</p>
                <p> <button class="btn btn-primary" role="button" data-toggle="modal" data-target="#ModalServices">Read More</button></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
              <img src="{{ asset('img/img3.jpg') }}" alt="Nail trimming" class="img-circle" >
              <div class="caption">
                <h3>Nail trimming</h3>
                <p>Nail trimming is essential for maintaining a good health.</p>
                <p> <button class="btn btn-primary" role="button" data-toggle="modal" data-target="#ModalServices">Read More</button></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    

    {% else %}

    <section class="joinUs" >
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Join Us</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 text-center bordoJoin ">
            <p class="descriptionJoinUs" >
              <strong>
                Dog save the queen <br>
                helps you taking care 
                of your dog friend and <br>
                get in touch with
                dog lovers like you
              </strong>
            </p>
          </div>

          <div class="col-sm-6 col-md-6 text-center bottoneJoin ">

            <ul>
              <li><a href="/login"><button type="submit" class="btn btn-success ">Login</button></a></li>
              <li><a href="/register"><button type="submit" class="btn btn-success ">Sign Up</button></a></li>
            </ul>

          </div>
        </div>
      </div>
    </section>

    {% endif %}

    

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container text-center ">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 >About</h2>
            <div class="row ossoDivivore "  >
              <div class="col-lg-12 text-center"> 
                <center><img  class="img-responsive text-center " src="{{ asset('img/bones.png') }}"></center>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center ">
          <div class="col-sm-6 col-md-6 text-left " >
            <p><strong>Dog Save the Queen </strong> provides a professional grooming service tailored to you and your pets requirements. <br>
              We believe that a well done grooming is very much part of a dog overall general health and mental wellbeing.<br> 
              The full groomng plan includes, among other things, brushing, shampoo and blow dry, ears cares and nail clipping.
            </p>
          </div>
          <div class="col-sm-6 col-md-6 text-right ">
            <img  class="imgAbout " src="{{ asset('img/img-about-1.jpg') }}">
          </div>

        </div>
        <div class="rowDivider" ></div>
        <div class="row text-center ">
          <div class="col-sm-6 col-md-6 text-left " >
            <img  class="imgAboutReverse " src="{{ asset('img/img-about-2.jpg') }}">
          </div>
          <div class="col-sm-6 col-md-6 text-right ">
            <p ><strong>All breeds and cross breeds of dogs are welcome</strong>.<br>
              Grooming is produced at the highest level and as close as possible to the breed standard. We aim to provide the trim that suits your life style and your pet's comfort. Since every dog is different, we are open for any custom request.</p>
            </div>

          </div>
          <div class="rowDivider" ></div>        
          <div class="row text-center ">
            <div class="col-sm-6 col-md-6 text-left " >
              <p><strong>ELISABETTA CIBOTTO</strong><br>
                Mine is a passion that became a profession.<br> 

                I have graduated in canine aesthetic at the EFP school in Uccle, where now I hold the role of theory and practice for the dog grooming course.<br> 
                I have nine years of experience and a strong knowledge of several breeds and their needs.
              </p>
            </div>
            <div class="col-sm-6 col-md-6 text-right">
              <img  class="imgAbout " src="{{ asset('img/img-about-3.jpg') }}">
            </div>

          </div>
          <div class="rowDivider" ></div>
          <div class="row text-center ">
            <div class="col-sm-6 col-md-6 text-left " >
              <img  class=" imgAboutReverse " src="{{ asset('img/img-about-4.jpg') }}">
            </div>
            <div class="col-sm-6 col-md-6 text-right ">
              <p >I have a fairly good knowledge of <strong>psychology and canine </strong>  anatomy
                which allows me a prior diagnosis of skin problems and overall health of the dog.

                I give advices to customers on the 
                maintenance of their pet, how to brush them and which products to use. 
                In case of an emergency I can offer a first aid service.</p>
              </div>
            </div>        

          </div>
        </section>

        <!-- Contact Section -->
        <section id="contact">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center ">
                <h2>Contact me</h2>
              </div>
            </div>
            <center>
              <img  class="img-responsive ossoDivivore " src="{{ asset('img/bonesDark.png') }}">
            </center>
            <div class="row" id="contattoPiuFoto" >
              <div class="col-sm-4 col-md-4 text-center ">
                <div id="contatto" >
                  <b><h3>Call me</h3>
                    <p>Dog Save the Queen</p>
                    <p>Tel: 0483 04 32 88</p>
                    <p>Mail:<a href="mailto:cb8@gmail.com"> cb8@gmail.com</a></p>
                    <p>Open from 10am to 6pm</p>
                  </div>

                </div>
                <div class="col-sm-4 col-md-4 text-center ">
                  <img  class="img-circle" src="{{ asset('img/contactPicture.jpg') }}">
                </div>
                <div class="col-sm-4 col-md-4 text-center ">
                  <h3 class="notice" >NOTICE</h3>
                  <p>  To reserve an appointment please call me because mails are difficult to consult while taking proper care of your pet.</p>
                </div>
              </div>
              <div class="rowDivider" ></div>

              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <h3>Contact Form</h3>

                  {{form_start(form)}}
                  {{form_widget(form)}}
                  {{form_end(form)}}

                  </div>
                           
              </div>
              <div class="row">
                <div class="col-lg-12 text-center">

                </div>
              </div>
            </div>
          </section>

          <div id="map">
            <script>
              function initMap() {
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                  center: {lat: 50.8238698, lng: 4.360612299999957},
                  zoom: 15,
                  scrollwheel: false
                });
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEdevajP8g5iulqWBPM3UXUTtrzjJ8rDs&callback=initMap">
          </script>

        </div>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-top page-scroll visible-xs visible-sm">
          <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>

        <!-- Modal Services  -->

        <!-- Modal  -->

        <div class="portfolio-modal modal fade" id="ModalServices" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="modal-body">
                    <h2>Services</h2>
                    <div class="row" >
                      <div class="col-lg-12">
                        <img  class="img-responsive" src="{{ asset('img/bonesDark.png') }}">
                      </div>
                    </div>
                    <div class="row" >
                      <div class="col-lg-12 text-left ">
                        <h3  >Grooming Plan</h3>
                        <p>The <span class="highlights" > grooming service </span> includes care and maintenance of the sanitary area as well as the cleaning of the paws to prevent any infections and knots for a good locomotion.<br> 

                          Here are the steps of the grooming plan: </p>
                        </div>
                      </div>
                      <div class="rowDivider" ></div>

                      <div class="row text-center ">
                        <div class="col-sm-6 col-md-6 text-left " >
                          <p><strong>EYE CARING </strong> <br>
                            How do dogs get eye infections? Sometimes they just get something in their eye that has bacteria. Other times they may come into contact with another dogs that are infected. <br>
                            Signs of a canine eye infection include
                            excessive crying and whining, light sensitivity, redness, and green or yellow discharge that crusts over their eyes.<br> 

                          </p>
                        </div>
                        <div class="col-sm-6 col-md-6 text-right ">
                          <img  class="imgAbout " src="{{ asset('img/img-service-1.jpg') }}">
                        </div>

                      </div>
                      <div class="rowDivider" ></div>
                      <div class="row text-center ">
                        <div class="col-sm-6 col-md-6 text-left " >
                          <img  class="imgAboutReverse " src="{{ asset('img/img-service-2.jpg') }}">
                        </div>
                        <div class="col-sm-6 col-md-6 text-right ">
                          <p ><strong>EARS CLEANING</strong> <br>

                            Dog ears come in all shapes and sizes. 
                            The type of ear can influence which ear 
                            diseases a dog may develop. 
                            Breed and <span class="highlights" >hereditary</span> factors also appear to have a role.<br>
                            <strong>HAIR CUTTING</strong><br>

                            The coats of many breeds require trimming, cutting, or other attention. Styles vary by breed, discipline and <span class="highlights" >owners tastes.</span></p>
                          </div>
                        </div>

                        <div class="rowDivider" ></div>

                        <div class="row text-center ">
                          <div class="col-sm-6 col-md-6 text-left " >
                            <p><strong>HAIR HAND STRIPPING</strong> <br>

                              Stripping or hand-stripping is the process of pulling the dead hair out of the coat of a non-shedding dog, either by using a stripping knife .

                              Hand-stripping coordinates the shedding and makes <span class="highlights" >room for a new coat to grow</span> . 
                              Stripping is the proper grooming method for most terriers, spaniels, and many other breeds.

                            </p>
                          </div>
                          <div class="col-sm-6 col-md-6 text-right ">
                            <img  class="imgAbout " src="{{ asset('img/img-service-3.jpg') }}">
                          </div>
                        </div>
                        <div class="rowDivider" ></div>
                        <div class="row text-center ">
                          <div class="col-sm-6 col-md-6 text-left " >
                            <img  class="imgAboutReverse " src="{{ asset('img/img-service-4.jpg') }}">
                          </div>
                          <div class="col-sm-6 col-md-6 text-right ">
                            <p ><strong> BATHING</strong> <br>
                              Dogs can be bathed by being sprayed with a hand-held shower head, or doused with water from a bucket. 
                              Often, one bath will not make a dog truly clean. A second bath is excellent to ensure the entire body has been cleaned. <span  class="highlights"  >Dogs should be bathed with warm, not hot water</span> , in order to make it a more enjoyable experience.
                            </div>
                          </div>

                          <div class="rowDivider" ></div>

                          <div class="row text-center ">
                            <div class="col-sm-6 col-md-6 text-left " >
                              <p><strong>NAIL TRIMMING</strong> <br>
                                If dog's nails are allowed to grow, they will curl over into a spiral shape, walking will <span class="highlights" >  become increasingly painful </span> to the dog as they grow, putting pressure on the dogs toes (a bit like walking in shoes that are too small). 

                                Uncut nails may curl so far that they pierce the paw pad, leading to infections and 
                                debilitating pain.

                              </p>
                            </div>
                            <div class="col-sm-6 col-md-6 text-right ">
                              <img  class="imgAbout " src="{{ asset('img/img-service-5.jpg') }}">
                            </div>
                          </div>
                          <div id="bookNow" >

                            <h2>Book Now</h2>
                            <div class="row" >
                              <div class="col-lg-12">
                                <img  class="img-responsive" src="{{ asset('img/bonesDark.png') }}">
                              </div>
                            </div>
                            <div class="rowDivider" ></div>

                            <div class="row BookNow ">
                              <div class="col-sm-6 col-md-6 text-center bordoJoin ">
                                <p class="descriptionBook" >
                                  <strong>
                                    Sign up or log in <br>
                                    and book an appointment<br> 
                                    your dog will love it
                                  </strong>
                                </p>
                              </div>

                              <div class="col-sm-6 col-md-6 text-center bottoneJoin ">

                                <ul>
                                  <li><a href="/login"><button type="submit" class="btn btn-success "  >Login</button></a></li>
                                  <li><a href="/register"><button type="submit" class="btn btn-success " >Sign Up</button></a></li>
                                </ul>

                              </div>
                            </div>  
                          </div>
                          <div class="rowDivider" ></div>

                          <h2>General Info</h2>
                          <div class="row" >
                            <div class="col-lg-12">
                              <img  class="img-responsive" src="{{ asset('img/bonesDark.png') }}">
                            </div>
                          </div>
                          <div class="rowDivider" ></div>
                          <div class="row" >
                            <div class="col-lg-12 text-right ">
                              <h3  >WORKING METHODS</h3>
                              <p>Each instrument used is sterilized at each step. For the bath, the water is adjusted to 38 ° C, the ideal temperature for the dog. Each breed has its own <span class="highlights" >  appropriate shampoo </span>
                              </div>
                            </div>
                            <div class="rowDivider" ></div>
                            <div class="row" >
                              <div class="col-lg-12 text-left ">
                                <h3  > PRODUCTS</h3>
                                <p> Here are the <span class="highlights" > DIAMEX </span> products that I commonly use:<br>  
                                  Mild shampoo with essential oils for sensitive skin, shampoo anti nodes, dry shampoo, specific shampoo for white-haired dogs , dogs with dandruff and wire-haired dogs, shampoo anti fleas, shampoo with fruit extracts and a fresh shampoo anti-allergenic.
                                  In addition in specific cases i also use delicate spray for sensitive skin,  a cleaning ears with sweet solution with essential oils, an eye care solution. All scents used are hypoallergenic.

                                </div>
                              </div>

                              <div class="rowDivider" ></div>

                              <div class="row" >

                                <div class="col-lg-6 text-left ">
                                  <h3>CALL ME</h3>
                                  <p>
                                  You will be surprised how competitive our prices are, chargers starts <span class="highlights" >from 30 euro.</span><br>

                                    To arrange a consultation or for a 
                                    comprehensive list of prices and services available, please call 0483 04 32 88 or visit our shop at Rue de l'Aqueduc 53, 1060 Brussels.

                                    Reservation taken via mail will be not accepted, please call me!<br>
                                    <span class="highlights" >Languages spoken:</span> English, French, Italian.

                                  </p>

                                </div>
                                <div class="col-lg-6 text-left ">
                                  <h3>BASIC RULES</h3>
                                  <p>
                                    I receive by appointment only ,
                                    in case of more than 20 minutes of late 
                                    your appointment will be canceled for the 
                                    respect of the other customers.<br>
                                    For cancellation please call at least 24 hours in advance. 
                                    It is advisable to leave the dog without the owner   for a better performance and job security.

                                  </p>

                                </div>
                              </div>
                              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal Login -->
                  <div id="ModalLogin" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-md ">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h3 class="modal-title">Login</h3>
                        </div>
                        <div class="modal-body">
                          <form action="login.php" method="post" enctype="multipart/form-data" >

                            Mail<br/><input type="email" class="form-control" name="log" placeholder="E-Mail" required><br/>
                            Password<br/><input type="password" class="form-control" name="pw" placeholder="Password" required><br/>

                            <input type="submit" class="btn btn-primary" value="Submit" name="Accesso" >
                            <input type="reset" class="btn btn-default" value="Cancel">

                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal sign up -->

                  <div id="ModalSignUp" class="modal fade" role="dialog" >
                    <div class="modal-dialog modal-md ">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h3 class="modal-title">Sign Up</h3>
                        </div>
                        <div class="modal-body">
                          <form action="login.php" method="post" enctype="multipart/form-data" >

                            Mail<br/><input type="email" class="form-control" name="log" placeholder="E-Mail" required><br/>
                            Password<br/><input type="password" class="form-control" name="pw" placeholder="Password" required><br/>

                            <input type="submit" class="btn btn-primary" value="Submit" name="Accesso" >
                            <input type="reset" class="btn btn-default" value="Cancel">

                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

<!--
<div id="ModalSignUp" class="modal fade" role="dialog">
<div class="modal-dialog modal-md ">




<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h3 class="modal-title">Sign Up</h3>
</div>

<div class="modal-body">
<form  method="post" enctype="multipart/form-data" >

<h4>Member Information</h4><br>

Name<br/><input type="text" class="form-control" name="nameuser" placeholder="Name" required><br/>
Last Name<br/><input type="text" class="form-control" name="lastname" placeholder="Last Name" required><br/>
Telephone<br/><input type="text" class="form-control" name="tel" placeholder="Telephone" required><br/>
Profile Image<br/><input type="file" class="form-control" name="profilePic" ><br/>

<h4>Finalize Inscription</h4>

Mail<br/><input type="email" class="form-control" name="email" placeholder="E-Mail" required><br/>
Password<br/><input type="password" class="form-control" name="password" placeholder="Password" required><br/>
Confirm Password<br/><input type="password" class="form-control" name="password2" placeholder="Repeat password" required><br/>

<input type="submit" class="btn btn-primary" value="Submit"  >
<input type="reset" class="btn btn-default" value="Cancel">

</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div> -->

{% endblock %}

{% block footer %}

{{ parent() }}

{% endblock %}
